.data {
  resize: both;
  text-align: center;
  line-height: 1.5;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-width: 40rem;
  max-width: 60rem;
}
.title {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 2.3rem;
  font-weight: 300;
  color: #878787;
  max-width: 40rem;
}
.list {
  margin: auto;
  list-style: none;
}
.listItem {
  text-align: left;
  font-size: 2rem;
}
.listItem a {
  color: #0070f3;
  text-decoration: none;
}

.plotDiv {
  margin: 0 auto;
  padding: 0;
  /* width: 90vw; */
}
.plot {
  min-height: 7rem;
  margin: 0 auto;
  border-radius: 11px;
  border: 0.1px solid rgb(35 35 35 / 10%);
  padding: 0.3rem;
  overflow: hidden;
  margin-right: 1rem;
}
.text {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 2.2rem;
  font-weight: 300;
  color: rgba(122, 122, 122, 1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.conclude {
  display: inline;
  color: #fffed1;
  background: rgba(122, 122, 122, 0.63);
  border-radius: 2px;
  padding: 0.45rem;
  font-size: 2rem;
}
